<robot name="Azcatl">
	<!-- Se importa el CAD del robot -->
	<link name="base_link">
		<visual>
			<origin xyz="-0. 0 0.063" rpy="0 0 1.5707"/>				<geometry>
				<mesh filename="file:/home/gerardo/Modelos/Azcatl.stl"/>
				
			</geometry>	
			<material name="black"> <color  rgba="1 1 1 1"/> </material>
		</visual>
	</link>
</robot>
